In [0]:
import pandas as pd
import datetime

In [0]:
%%time
#this path should be changed to the folder where the files are located
pth = "./drive/My Drive/DatosInsider/DWH_tables/"

#reading device grouped variables
dv = pd.read_csv(pth + "device_count.csv")

CPU times: user 9.2 ms, sys: 2.75 ms, total: 12 ms
Wall time: 34.7 ms

In [0]:
%%time
#reading file grouped variables
fc = pd.read_csv(pth + "file_count.csv")

CPU times: user 7.89 ms, sys: 1.99 ms, total: 9.87 ms
Wall time: 21.6 ms

In [0]:
%%time}
#reading sentiment from email variables
em = pd.read_csv(pth + "email_sentiment_raw.csv")

CPU times: user 23.9 s, sys: 2.27 s, total: 26.1 s
Wall time: 36 s

In [0]:
dv.shape

(3547, 5)

In [0]:
fc.shape

(3532, 6)

In [0]:
#generating join for source table
em = em.groupby(["user", "year", "month"]).agg({"sentiment":"mean"})
em.reset_index(inplace=True)

In [0]:
em.shape

(15899, 4)

In [0]:
#reading http sentiment and behaviour variables
ht = pd.read_csv(pth + "http_sentiment_grouped_raw.csv")

In [0]:
ht.shape

(15899, 5)

In [0]:
#cleaning index
dv.drop(dv.columns[0], axis = 1, inplace = True)

      user  year  month  activity
0  AAF0535  2010      1        39
1  AAF0535  2010      2        34
2  AAF0535  2010      3        40
3  AAF0535  2010      4        45
4  AAF0535  2010      5        43

In [0]:
#setting columns
dv.columns = ["user", "year", "month", "device_count"]

In [0]:
#cleaning index
fc.drop(fc.columns[0], axis = 1, inplace = True)

      user  year  month  filename  isExe
0  AAF0535  2010      1        28    0.0
1  AAF0535  2010      2        43    1.0
2  AAF0535  2010      3        47    0.0
3  AAF0535  2010      4        48    0.0
4  AAF0535  2010      5        34    0.0

In [0]:
#setting columns
fc.columns = ["user", "year", "month", "file_count", "executable_count"]

In [0]:
fc.head()

      user  year  month  file_count  executable_count
0  AAF0535  2010      1          28               0.0
1  AAF0535  2010      2          43               1.0
2  AAF0535  2010      3          47               0.0
3  AAF0535  2010      4          48               0.0
4  AAF0535  2010      5          34               0.0

In [0]:
#setting columns
em.columns = ["user", "year", "month", "sentiment_email"]

In [0]:
em.head()

      user  year  month  sentiment_email
0  AAE0190  2010      1         0.043860
1  AAE0190  2010      2         0.066410
2  AAE0190  2010      3         0.073531
3  AAE0190  2010      4         0.040895
4  AAE0190  2010      5         0.040118

In [0]:
#cleaning index
ht.drop(ht.columns[0], axis = 1, inplace = True)

In [0]:
#setting columns
ht.columns = ["user", "year", "month", "http_sentiment"]

In [0]:
#generating join for source table
full = dv.merge(fc, on = ["user", "year", "month"])
print(full.shape)
full.head()

(3532, 8)

   Unnamed: 0_x     user  year  month  activity  Unnamed: 0_y  filename  isExe
0             0  AAF0535  2010      1        39             0        28    0.0
1             1  AAF0535  2010      2        34             1        43    1.0
2             2  AAF0535  2010      3        40             2        47    0.0
3             3  AAF0535  2010      4        45             3        48    0.0
4             4  AAF0535  2010      5        43             4        34    0.0

In [0]:
#generating join for source table
full = full.merge(em, on = ["user", "year", "month"], how = 'right')
print(full.shape)
full.head()

(15899, 7)

      user  year  month  ...  file_count  executable_count  sentiment_email
0  AAF0535  2010      1  ...        28.0               0.0         0.072534
1  AAF0535  2010      2  ...        43.0               1.0         0.054049
2  AAF0535  2010      3  ...        47.0               0.0         0.099803
3  AAF0535  2010      4  ...        48.0               0.0         0.093468
4  AAF0535  2010      5  ...        34.0               0.0         0.117118

[5 rows x 7 columns]

In [0]:
#generating join for source table
full = full.merge(ht, on = ["user", "year", "month"], how = 'right')
print(full.shape)
full.head()

(15899, 8)

      user  year  month  ...  executable_count  sentiment_email  http_sentiment
0  AAF0535  2010      1  ...               0.0         0.072534        0.073321
1  AAF0535  2010      2  ...               1.0         0.054049        0.077493
2  AAF0535  2010      3  ...               0.0         0.099803        0.063164
3  AAF0535  2010      4  ...               0.0         0.093468        0.062940
4  AAF0535  2010      5  ...               0.0         0.117118        0.066829

[5 rows x 8 columns]

In [0]:
#setting the right type for the join to work better
full["period"] = full.apply(lambda x: datetime.datetime(x.year, x.month, 1).strftime("%Y%m"), axis = 1)

In [0]:
#saving first part of the final table into the folder
full.to_csv(pth + "final_insider_risk_2.csv")

In [0]:
full.head()

      user  year  month  ...  sentiment_email  http_sentiment  period
0  AAF0535  2010      1  ...         0.072534        0.073321  201001
1  AAF0535  2010      2  ...         0.054049        0.077493  201002
2  AAF0535  2010      3  ...         0.099803        0.063164  201003
3  AAF0535  2010      4  ...         0.093468        0.062940  201004
4  AAF0535  2010      5  ...         0.117118        0.066829  201005

[5 rows x 9 columns]