In [0]:
import pandas as pd
import numpy as np
import datetime

In [0]:
#folder where the data lives
pth = "D:/GDrive/DatosInsider/DWH_tables/"

In [0]:
#reading file where we left off
full = pd.read_csv(pth + "final_insider_risk_2.csv")

In [0]:
#dropping reseted index, year and month
full.drop(full.columns[[0, 2, 3]], axis = 1, inplace = True)

In [0]:
full.head()

,user,device_count,file_count,executable_count,sentiment_email,http_sentiment,period
0,AAF0535,39.0,28.0,0.0,0.072534,0.073321,201001
1,AAF0535,34.0,43.0,1.0,0.054049,0.077493,201002
2,AAF0535,40.0,47.0,0.0,0.099803,0.063164,201003
3,AAF0535,45.0,48.0,0.0,0.093468,0.062940,201004
4,AAF0535,43.0,34.0,0.0,0.117118,0.066829,201005

In [0]:
#reading file where we left off
fi = pd.read_csv(pth + "final_insdier_risk.csv")

In [0]:
fi.columns

Index(['user', 'period', 'leak_risk_cnt', 'leak_we_cnt', 'leak_off_hr_cnt',
       'thief_risk_cnt', 'thief_we_cnt', 'thief_off_hr_cnt',
       'sabotage_risk_cnt', 'sabotage_we_cnt', 'sabotage_off_hr_cnt', 'adv',
       'astronomy', 'banking', 'cars', 'chat', 'cooking', 'dating',
       'downloads', 'drugs', 'forum', 'gamble', 'games-misc', 'games-online',
       'government', 'hacking', 'homestyle', 'humor', 'imagehosting', 'isp',
       'jobsearch', 'leaks', 'library', 'lingerie', 'moneylending', 'movies',
       'music', 'news', 'other', 'planes', 'podcasts', 'porn', 'radiotv',
       'realestate', 'redirector', 'religion', 'remotecontrol', 'restaurants',
       'searchengines', 'shipping', 'shopping', 'socialnet', 'sports',
       'spyware', 'telecommunication', 'tracker', 'trading', 'travel',
       'updatesites', 'urlshortener', 'warez', 'webmail', 'webphone',
       'webradio', 'webtv', 'wellness', 'competitor_cnt'],
      dtype='object')

In [0]:
#sourcing file where the activity of pc behaviour are stored
mla = pd.read_csv(pth + "monthly_logged_activity.csv", parse_dates = True)
#dropping bad formatted date
mla.drop(mla.columns[1], axis = 1, inplace = True)

In [0]:
mla.columns

Index(['user', 'min_logon', 'avg_min_logon', 'med_min_logon', 'cnt_logon',
       'avg_cnt_logon', 'med_cnt_logon', 'max_logoff', 'avg_max_logoff',
       'med_max_logoff', 'cnt_logoff', 'avg_cnt_logoff', 'med_cnt_logoff',
       'avg_logged_time', 'med_logged_time', 'cnt_unauthorized_log', 'period'],
      dtype='object')

In [0]:
#setting the columns of type str/timedelta to seconds, as to have a more "continuous" feature
mla["avg_logged_time"] = pd.to_timedelta(mla["avg_logged_time"]).map(lambda x: x.seconds)
mla["med_logged_time"] = pd.to_timedelta(mla["med_logged_time"]).map(lambda x: x.seconds)

In [0]:
%%time
#merging for the final data set
f1 = fi.merge(full, on = ["period", "user"])
f1.fillna(0, inplace = True)
f1.head()

Wall time: 51.9 ms

In [0]:
#reading directory of files where the employee monthly availability is stored
from os import listdir
from os.path import isfile, join
pth1 = "D:/GDrive/DatosInsider/r4.2/LDAP"
onlyfiles = [f for f in listdir(pth1) if isfile(join(pth1, f)) and f.split(".")[-1] == "csv"]

In [0]:
onlyfiles

['2009-12.csv',
 '2010-01.csv',
 '2010-02.csv',
 '2010-03.csv',
 '2010-04.csv',
 '2010-05.csv',
 '2010-06.csv',
 '2010-07.csv',
 '2010-08.csv',
 '2010-09.csv',
 '2010-10.csv',
 '2010-11.csv',
 '2010-12.csv',
 '2011-01.csv',
 '2011-02.csv',
 '2011-03.csv',
 '2011-04.csv',
 '2011-05.csv']

In [0]:
#creating a single dataframe to have control of the features
full = pd.DataFrame()
for i in onlyfiles:
    if "employee_data" in i:
        continue
    tmp = pd.read_csv(pth1 + "/" + i)
    tmp["date"] = i.split(".")[0]
    full = pd.concat([full, tmp])

In [0]:
full.head()

,employee_name,user_id,email,role,business_unit,functional_unit,department,team,supervisor,date
0,Calvin Edan Love,CEL0561,Calvin.Edan.Love@dtaa.com,ComputerProgrammer,1,2 - ResearchAndEngineering,2 - SoftwareManagement,3 - Software,Stephanie Briar Harrington,2009-12
1,Christine Reagan Deleon,CRD0624,Christine.Reagan.Deleon@dtaa.com,Salesman,1,5 - SalesAndMarketing,2 - Sales,3 - RegionalSales,Winter Veda Burks,2009-12
2,Jade Felicia Caldwell,JFC0557,Jade.Felicia.Caldwell@dtaa.com,SoftwareEngineer,1,2 - ResearchAndEngineering,2 - SoftwareManagement,3 - Software,Stephanie Briar Harrington,2009-12
3,Aquila Stewart Dejesus,ASD0577,Aquila.Stewart.Dejesus@dtaa.com,ProductionLineWorker,1,3 - Manufacturing,3 - Assembly,3 - AssemblyDept,Whilemina Pandora England,2009-12
4,Micah Abdul Rojas,MAR0955,Micah.Abdul.Rojas@dtaa.com,ProductionLineWorker,1,3 - Manufacturing,3 - Assembly,6 - AssemblyDept,Sandra Beverly Diaz,2009-12

In [0]:
#setting the time dimension variables
full["date"] = pd.to_datetime(full["date"])
full["month"] = full["date"].map(lambda x: x.month)
full["year"] = full["date"].map(lambda x: x.year)

In [0]:
#grouping to count and generate features on the fly
x = full.groupby(["user_id", "year", "month"]).agg({"role":"first", "employee_name":"first", "supervisor":"first"})
x.reset_index(inplace = True)

In [0]:
x.head()

   user_id  year  month        supervisor         employee_name     role
0  AAE0190  2009     12  Kirby Bo Pollard  August Armando Evans  Manager
1  AAE0190  2010      1  Kirby Bo Pollard  August Armando Evans  Manager
2  AAE0190  2010      2  Kirby Bo Pollard  August Armando Evans  Manager
3  AAE0190  2010      3  Kirby Bo Pollard  August Armando Evans  Manager
4  AAE0190  2010      4  Kirby Bo Pollard  August Armando Evans  Manager

In [0]:
#merging to know who is supervisor of who
sup = x.merge(x, left_on = ["employee_name"], right_on = ["supervisor"])[["user_id_x", "year_x", "month_x"]].groupby(["user_id_x", "year_x", "month_x"]).count()
sup.reset_index(inplace = True)

In [0]:
sup

     user_id_x  year_x  month_x
0      AAE0190    2009       12
1      AAE0190    2010        1
2      AAE0190    2010        2
3      AAE0190    2010        3
4      AAE0190    2010        4
...        ...     ...      ...
1201   WVB0539    2011        1
1202   WVB0539    2011        2
1203   WVB0539    2011        3
1204   WVB0539    2011        4
1205   WVB0539    2011        5

[1206 rows x 3 columns]

In [0]:
#setting the key value
sup["period"] = sup.apply(lambda x: datetime.datetime(x.year_x, x.month_x, 1).strftime("%Y%m"), axis = 1)

In [0]:
#setting columns
sup = sup[["user_id_x", "period"]]
sup.head()

  user_id_x  period
0   AAE0190  200912
1   AAE0190  201001
2   AAE0190  201002
3   AAE0190  201003
4   AAE0190  201004

In [0]:
#setting columns and value
sup.columns = ["user", "period"]
sup["isSupervisor"] = 1

C:\Users\Chema\Anaconda3\envs\UP\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
#storing the file
sup.to_csv(pth + "supervisors.csv")

In [0]:
sup.head()

      user  period  isSupervisor
0  AAE0190  200912             1
1  AAE0190  201001             1
2  AAE0190  201002             1
3  AAE0190  201003             1
4  AAE0190  201004             1

In [0]:
#setting the right type
sup["period"] = sup["period"].astype(int)

C:\Users\Chema\Anaconda3\envs\UP\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
#Merging for the final data set
f1 = f1.merge(sup, on = ["user", "period"], how = "left")
f1.fillna(0, inplace = True)

# Salary and gender

In [0]:
#Reading file where salaries and gender are stored
sl = pd.read_csv(pth + "employee_data_salaries.csv")
sl.head()

,Unnamed: 0,employee_name,user_id,email,role,business_unit,functional_unit,department,team,supervisor,Mean,Range
0,0,Calvin Edan Love,CEL0561,Calvin.Edan.Love@dtaa.com,ComputerProgrammer,1,2 - ResearchAndEngineering,2 - SoftwareManagement,3 - Software,Stephanie Briar Harrington,62841,$41k - $99k
1,1,Miriam Shoshana Donovan,MSD0939,Miriam.Shoshana.Donovan@dtaa.com,ComputerProgrammer,1,2 - ResearchAndEngineering,2 - SoftwareManagement,6 - Software,Caleb Mason Ball,62841,$41k - $99k
2,2,William Theodore Reeves,WTR0563,William.Theodore.Reeves@dtaa.com,ComputerProgrammer,1,2 - ResearchAndEngineering,2 - SoftwareManagement,3 - Software,Stephanie Briar Harrington,62841,$41k - $99k
3,3,Nicolas Kadeem Hayden,NKH0807,Nicolas.Kadeem.Hayden@dtaa.com,ComputerProgrammer,1,2 - ResearchAndEngineering,2 - SoftwareManagement,5 - Software,Sara Gail George,62841,$41k - $99k
4,4,Dominic Howard Mcconnell,DHM0937,Dominic.Howard.Mcconnell@dtaa.com,ComputerProgrammer,1,2 - ResearchAndEngineering,2 - SoftwareManagement,6 - Software,Caleb Mason Ball,62841,$41k - $99k

In [0]:
#subsetting and setting the right column name
sl = sl[["user_id", "Mean"]]
sl.columns = ["user", "mean_salary"]

In [0]:
#merging for the final data set
f1 = f1.merge(sl, on = ["user"], how = "left")
f1.head()

,user,period,leak_risk_cnt,leak_we_cnt,leak_off_hr_cnt,thief_risk_cnt,thief_we_cnt,thief_off_hr_cnt,sabotage_risk_cnt,sabotage_we_cnt,...,avg_max_logoff,med_max_logoff,cnt_logoff,avg_cnt_logoff,med_cnt_logoff,avg_logged_time,med_logged_time,cnt_unauthorized_log,isSupervisor,mean_salary
0,AAE0190,201001,0,0,0,45,0,0,161,0,...,65988.000000,66030.0,20,1.0,1.0,36420,36570,20,1.0,64778
1,AAE0190,201002,0,0,0,25,0,0,200,0,...,65721.000000,65700.0,20,1.0,1.0,36102,36030,20,1.0,64778
2,AAE0190,201003,0,0,0,68,0,0,235,0,...,65953.043478,65880.0,23,1.0,1.0,36268,36360,23,1.0,64778
3,AAE0190,201004,0,0,0,50,0,0,222,0,...,65848.571429,65760.0,21,1.0,1.0,36374,36480,21,1.0,64778
4,AAE0190,201005,0,0,0,44,0,0,186,0,...,65871.000000,65760.0,20,1.0,1.0,36363,36420,20,1.0,64778

In [0]:
#subsetting and setting right column names
sx = pd.read_csv(pth + "employee_data.csv")
sx = sx[["user_id", "gender"]]
sx.columns = ["user", "gender"]
sx.head()

      user  gender
0  CEL0561    male
1  CRD0624  female
2  JFC0557  female
3  ASD0577    male
4  MAR0955    male

In [0]:
#merging for the final data set
f1 = f1.merge(sx, on = ["user"], how = "left")
f1.head()

,user,period,leak_risk_cnt,leak_we_cnt,leak_off_hr_cnt,thief_risk_cnt,thief_we_cnt,thief_off_hr_cnt,sabotage_risk_cnt,sabotage_we_cnt,...,med_max_logoff,cnt_logoff,avg_cnt_logoff,med_cnt_logoff,avg_logged_time,med_logged_time,cnt_unauthorized_log,isSupervisor,mean_salary,gender
0,AAE0190,201001,0,0,0,45,0,0,161,0,...,66030.0,20,1.0,1.0,36420,36570,20,1.0,64778,male
1,AAE0190,201002,0,0,0,25,0,0,200,0,...,65700.0,20,1.0,1.0,36102,36030,20,1.0,64778,male
2,AAE0190,201003,0,0,0,68,0,0,235,0,...,65880.0,23,1.0,1.0,36268,36360,23,1.0,64778,male
3,AAE0190,201004,0,0,0,50,0,0,222,0,...,65760.0,21,1.0,1.0,36374,36480,21,1.0,64778,male
4,AAE0190,201005,0,0,0,44,0,0,186,0,...,65760.0,20,1.0,1.0,36363,36420,20,1.0,64778,male

In [0]:
f1.columns

Index(['user', 'period', 'leak_risk_cnt', 'leak_we_cnt', 'leak_off_hr_cnt',
       'thief_risk_cnt', 'thief_we_cnt', 'thief_off_hr_cnt',
       'sabotage_risk_cnt', 'sabotage_we_cnt', 'sabotage_off_hr_cnt', 'adv',
       'astronomy', 'banking', 'cars', 'chat', 'cooking', 'dating',
       'downloads', 'drugs', 'forum', 'gamble', 'games-misc', 'games-online',
       'government', 'hacking', 'homestyle', 'humor', 'imagehosting', 'isp',
       'jobsearch', 'leaks', 'library', 'lingerie', 'moneylending', 'movies',
       'music', 'news', 'other', 'planes', 'podcasts', 'porn', 'radiotv',
       'realestate', 'redirector', 'religion', 'remotecontrol', 'restaurants',
       'searchengines', 'shipping', 'shopping', 'socialnet', 'sports',
       'spyware', 'telecommunication', 'tracker', 'trading', 'travel',
       'updatesites', 'urlshortener', 'warez', 'webmail', 'webphone',
       'webradio', 'webtv', 'wellness', 'competitor_cnt', 'device_count',
       'file_count', 'executable_count', 'sentiment_email', 'http_sentiment',
       'min_logon', 'avg_min_logon', 'med_min_logon', 'cnt_logon',
       'avg_cnt_logon', 'med_cnt_logon', 'max_logoff', 'avg_max_logoff',
       'med_max_logoff', 'cnt_logoff', 'avg_cnt_logoff', 'med_cnt_logoff',
       'avg_logged_time', 'med_logged_time', 'cnt_unauthorized_log',
       'isSupervisor', 'mean_salary', 'gender'],
      dtype='object')

# Confirmed cases

In [0]:
#reading the confirmed cases to set as the label of observed insiders
cc = pd.read_csv(pth + "insider_confirmed_cases.csv", index_col = 0)
cc.columns = ["user", "period"]
cc["isInsider"] = 1

In [0]:
cc.shape

(128, 3)

In [0]:
cc.head()

      user  period  isInsider
0  AAM0658  201010          1
1  AJR0932  201009          1
2  BDV0168  201007          1
3  BDV0168  201008          1
4  BIH0745  201007          1

In [0]:
#merging to set the insiders
f1 = f1.merge(cc, on = ["user"], how = "left")

In [0]:
#filling null observations, this would lead us to see them as not insiders
f1.fillna(0, inplace = True)

In [0]:
#final label balance
f1["isInsider"].value_counts()

0.0    15139
1.0     1428
Name: isInsider, dtype: int64

In [0]:
#This would be the source file to sample, model and test
f1.to_csv(pth + "InsiderDataMart.csv")